#purple {
  text-align: center;
  align-items: center;
  margin-left: 5.5rem;

}

.dot {
  height: 12px;
  width: 12px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.slide1 {
  display: flex;
  flex-flow: column nowrap;
  transform: translateY(100%);
  animation: slide-up 6s ease infinite;
}

.slides1 {
  display: inline-flex;
  overflow: hidden;
  overflow: hidden;
  height: 63px;
  /* margin-top: 1px; */
  line-height: 4rem;

}

.slide3 {
  display: flex;
  flex-flow: column nowrap;

  transform: translateY(110%);
  animation: slide-up1 3s ease infinite;
}


.slides3 {
  display: inline-flex;
  overflow: hidden;

  height: 60px;
}

@keyframes slide-up {

  10%,
  33% {
    transform: translateY(0%)
  }

  43%,
  66% {
    transform: translateY(-100%)
  }

  76%,
  100% {
    transform: translateY(-200%)
  }
}

@keyframes slide-up1 {

  5%,
  25% {
    transform: translateY(0%)
  }

  25%,
  50% {
    transform: translateY(-100%)
  }

  50%,
  75% {
    transform: translateY(-200%)
  }

  75%,
  100% {
    transform: translateY(-300%)
  }
}

.slider {
  /* width: 800px; */
  /* height: 500px; */
  /* border-radius: 10px; */
  overflow: hidden;
}

.slides {
  width: 500%;
  /* height: 500px; */
  display: flex;
}

.slides2 {
  width: 449%;
  margin-right: 20px;

  display: flex;

}

.slides input {
  display: none;
}

.slide {
  width: 20%;
  transition: 1s;
}

.slide11 {
  width: 20%;
  transition: 1s;
}





/*css for manual slide navigation*/

.navigation-manual {
  /* position: absolute; */

  /* margin-top: -40px; */
  display: flex;
  justify-content: center;
}

.manual-btn {
  border: 2px solid grey;
  padding: 2px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
  background-color: grey;
}


.manual-btn:not(:last-child) {
  margin-right: 10px;
}

.manual-btn:hover {
  background: #796EF5;
}

#radio1:checked~.first {
  margin-left: 0;
}

#radio1:checked~.first {
  margin-left: 0;
}

#radio2:checked~.first {
  margin-left: -20%;
}

#radio3:checked~.first {
  margin-left: -40%;
}

#radio4:checked~.first {
  margin-left: -60%;
}

#radio1a:checked~.first {
  margin-left: 0;
}

#radio1a:checked~.first {
  margin-left: 0;
}

#radio2a:checked~.first {
  margin-left: -20%;
}

#radio3a:checked~.first {
  margin-left: -40%;
}

#radio4a:checked~.first {
  margin-left: -60%;
}








@media all and (width<560px) {
  .slides1 {
    line-height: 1.88rem;
  }
}









/* image */

#radio11:checked~.first {
  margin-left: 0;
}

#radio11:checked~.first {
  margin-left: 0;
}

#radio21:checked~.first {
  margin-left: -20%;
}

#radio31:checked~.first {
  margin-left: -40%;
}

#radio41:checked~.first {
  margin-left: -60%;
}


/*css for automatic navigation*/

.navigation-auto {
  position: absolute;
  display: flex;
  width: 800px;
  justify-content: center;
  margin-top: 460px;
}

.navigation-auto div {
  border: 2px solid #796EF5;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}

.navigation-auto div:not(:last-child) {
  margin-right: 40px;
}

#radio1:checked~.navigation-auto .auto-btn1 {
  background: #796EF5;
}

#radio2:checked~.navigation-auto .auto-btn2 {
  background: #796EF5;
}

#radio3:checked~.navigation-auto .auto-btn3 {
  background: #796EF5;
}

#radio4:checked~.navigation-auto .auto-btn4 {
  background: #796EF5;
}

#slider-box {
  width: 45%;
  border-radius: 30px;
  height: 366px;
  padding: 50px;
  padding-top: 30px;
}

#slide_image {
  width: 100%;
  height: 527px;
  object-fit: cover;
}

#blog-content1 {
  width: 60%;
}

.under {
  text-decoration: underline #796EF5 4px;
  text-underline-offset: 6px;
}

#bg-gradient-multi {
  background-image: url("../public/images/blog/4116.png");
  background-repeat: no-repeat;

  background-size: cover;

}

#blog-heading1 {
  width: 50%;
  margin-left: 50%;
  transform: translateX(-50%);
  /* background-color: white; */
}

#blog-heading2 {
  width: 50%;
  margin-left: 50%;
  transform: translateX(-50%);
  color: white;
  /* background-color: white; */
}

#case-study-content {
  width: 60%;

}

#case-study-form {
  /* width: 50% ; */
  background-color: #EEEEEE;
}

#case-study-form1 {
  height: auto;
  padding: 1rem;
  margin-left: 20px;
  width: 70%;
  background-color: white;
}

form div input {
  height: 45px;
}



#subBtn{
  height: 60px;
}


#values {
  /* width: 50%; */
  /* margin: 5px; */
  margin-bottom: 15px;
}

.ele {
  background-color: #E1E1E1;
}

#platform-features>article {
  padding-top: 0rem;
  padding-bottom: 0rem;
  margin-top: 0px;
  margin-bottom: 0px;
}

#platform-features>header>h3 {
  font-size: 2.5rem;
}

#platform-resources {
  background: linear-gradient(277.48deg, #EFEFEF 0%, rgba(234, 234, 234, 0.76) 100%);
}

#product_section>article>img {

  flex: 1;
  align-items: center;
  min-width: 320px !important;

}

#product_section>article:not(:first-child) {
  padding-top: 0rem;
  margin-top: 0px;
}
















#contact-demo2 {
  position: absolute;
  left: -2%
}

#demo-section {
  width: 75%;
  margin-top: 25%;
  transform: translateY(-50%);
}





@media screen and (max-width: 600px) {

  #demo-section {
    width: 75%;
    margin-top: 10px;
    transform: translateY(0px);
    margin: auto;
  }

  /* .slide11>h4{
      font-size: 10px;
    } */
  /* .slider-heading{
      font-size: 12px;
    } */
  #slider-box {
    width: 350px;
    height: auto;
    padding-top: 20px;
    padding: 20px;
    margin: auto;

  }

  #quotations {
    width: 20px;
  }

  .navigation-manual {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  /* #slide_image{
      height: 300px;
    }  */

  #blog-content1 {
    width: 100%;
    padding: 2px;
  }

  #blog-heading1 {
    width: 100%;
    /* background-color:  black; */
  }

  #blog-heading2 {
    width: 100%;
    color: white;
    /* background-color: white; */
  }

  #case-study-content {
    width: 100%;

  }

  #case-study-form {
    width: 100%;
    padding: 5px;
    /* margin: 2px; */
    margin-top: 10px;
    align-items: center;
    background-color: #EEEEEE;
  }

  #case-study-form1 {
    width: 95%;
    padding: 5px;
    /* margin: 2px; */
    margin: auto;
    margin-top: 15px;
    align-items: center;
    /* background-color: #EEEEEE; */
    margin-bottom: 20pxs;
  }

  #bg-gradient-multi {
    background-image: url("../public/images/blog/4116.png");
    background-repeat: no-repeat;

    background-size: cover;
    width: 98%;
    border-radius: 5%;

  }

  #case-study-tag {
    margin-left: 1px;
  }

  #values {
    width: 100%;

  }

  #contact-demo {
    text-align: center;

    padding-left: 0px;

  }

  #contact-demo2 {
    position: relative;
  }
}

@media screen and (max-width: 1145px) {
  #case-study-content {
    /* width: 100%; */

  }

  #case-study-form {
    width: 100%;
    /* padding: 5px; */
    /* margin: 2px; */
    /* margin-top: 10px; */
    /* align-items: center; */
    background-color: #EEEEEE;
  }

  #case-study-form1 {
    width: 95%;
    padding: 5px;
    /* margin: 2px; */
    /* margin: auto; */
    margin-top: 15px;
    align-items: center;
    /* background-color: #EEEEEE; */
    margin-bottom: 20px;
  }

  #bg-gradient-multi {
    background-image: url("../public/images/blog/4116.png");
    background-repeat: no-repeat;

    background-size: cover;
    width: 98%;
    border-radius: 5%;

  }

  #case-study-tag {
    margin-left: 1px;
  }

  #values {
    width: 100%;

  }

  #contact-demo {
    /* padding-top: 100px; */
  }

}



.header-class {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.header-class h1 {

  /* width: 431px; */
  /* height: 83px;
  left: 73px;
  top: 994px; */

  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 50px;
  text-align: center;

  color: #FFFFFF
}


.header-class p {

  /* width: 374px; */
  /* height: 42px; */
  /* left: 73px; */
  /* top: 1090px; */

  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  text-align: center;
  line-height: 42px;
  /* identical to box height */


  color: #FFFFFF;
}


@media all and (min-width:1200px) {
  .header-div {
    display: flex;
    justify-content: space-between;
    margin-left: 5rem;
    margin-right: 5rem;
  }
}


.platform-features {
  /* box-sizing: border-box; */

  /* position: absolute; */
  /* width: 504px; */
  /* height: 566px;
left: 968px;
top: 978px; */

  background: #FFFFFF;
  /* border: 1px solid #C9C9C9; */
  border-radius: 30px;
}



.accordion-item {
  border-bottom: 1px solid #C0C0C0;
  position: relative;
}

.accordion-body {
  /* max-width: 350px; */
  margin: 1rem 2rem;
  /* position: absolute;
  width: 406px;
  height: 150px;
  left: 1015px;
  top: 1058px; */

  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 25px;
  transition: height 5s;

  /* or 145% */


  color: #1A1A1A;
}

.accordion-item:last-child {
  border-bottom: none;
}

.accordion-item .collapsed {
  /* position: absolute;
  width: 406px;
  height: 150px;
  left: 1015px;
  top: 1058px; */

  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  /* or 145% */


  color: #1A1A1A;
}


.accordion-button {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
}


.border-class:after {
  content: "";
  position: absolute;
  /* left: 25px;
  bottom: 0;
  height: 15px; */
  width: 70%;
  border-bottom: 5px solid #9A92F9;
  /* transition: all 5s; */
}


/* .accordion-collapse .accordion-body:last-child:after{
  border-bottom: none;
} */



.aside-width {
  width: 33rem;
}



/* 
@media all and (min-width:501px) and (max-width:1200px) {
  .header-div {
    display: flex;
    flex-direction:column !important;
    justify-content: space-around !important;
    align-items: center !important;
    height: 100vh; 
  }

  .accordian{
    width: 100%;
  }

  .aside-width{
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .add-padding{
    padding: 9rem;
   }

  .header-class{
    width: 100%;
    align-items: center;
  }

  .header-class h1{
    font-size: 4rem;
  }
  .header-class p {
    font-size: 2rem;
  }

 } */

.add-padding {
  padding: 5rem !important;

  border-radius: 20px;

}

.accordian-div {
  border-radius: none !important;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 1rem;
  width: 100%;

}

#select-accordian option[selected] {
  /* background: red; */
}

#select-accordian {
  min-height: 3rem;
  border: none !important;
  width: 100%;
  padding: 1rem;
  background: none;
}

.accordian-div p {
  border-top: 1px solid rgb(192, 186, 186);
  padding: 1rem;
}


.aside-style {
  background: white;
}

.add-gap {
  gap: 0.5rem;
}

.add-padding img {
  width: 7rem;
}


.add-padding h2 {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 42px;
}

.add-apdding p {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
  /* or 119% */

  text-align: center;
}


.text-base-padding {

  -webkit-box-orient: vertical;
  display: block;
  display: -webkit-box;
  overflow: hidden !important;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4;
}


@media all and (min-width:501px) and (max-width:1200px) {
  .bg-dtash {
    height: 58rem !important;
  }
}


@media all and (min-width:300px) and (max-width:500px) {
  .bg-dtash {
    height: 70rem !important;
  }
}




@media all and (min-width:300px) and (max-width:1200px) {
  .aside-width {
    /* width: 100%; */
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    width: 28rem;
  }

  add-padding img {
    width: 6rem;
  }

  .header-div {
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    margin-top: 1rem;
    gap: 2rem;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }


  .header-class h1 {
    font-size: 2.5rem;
    text-align: center;
  }


  .header-class {
    gap: 0px;
  }

  .header-class p {
    font-size: 1.5rem;
    text-align: center;
  }

  .addMargin {
    margin-top: 1rem !important;
  }

  .add-padding {
    padding: 3rem !important;
  }



 

  @media all and (min-width:300px) and (max-width:500px) {

    .main-footer {
      margin-top: 2rem;
      gap: 1rem;
    }

    .slide01 {
      font-size: 1.2rem !important;
    }
   



    .wave_logo {
      left: 11rem;
      width: 5rem;
    }

    .accordion-item .collapsed {
      padding: 1rem !important;

    }

    .heading-section {
      font-size: 2.25rem;
    }

    .add-padding {
      padding: 1rem !important;
    }


    .add-padding h2 {
      font-size: 1.5rem !important;
    }

    .add-padding p {
      font-size: 0.8rem !important;
    }



    .add-padding img {
      width: 4rem;
    }

    /* .header-class h1 {
      font-size: 2.5rem !important;
      text-align: center;
    } */

    .header-class p {
      font-size: 1.2rem !important;
      text-align: center;
    }

    .accordion-button {
      padding-right: 1rem !important;
    }

  }


}




.addMargin {
  margin-left: 1rem !important;
}


.bg-dtash {
  /* overflow-y: scroll; */
  padding-bottom: 2rem;
}

/* .bg-dtash-webkit-scrollbar {
  display: none;
} */


#collapseOne4 .accordion-body:last-child {
  padding-bottom: 1rem;
}

#collapseOne4:after {
  border-bottom: none !important;
}


.wave_logo {
  left: 20rem;
}

@media all and (max-width:900px) {
  .wave_logo {
    left: 11rem;
    width: 5rem;
  }
}


@media all and (max-width:1023px) {

  .remove-margin {
    margin: 0px !important;
    /* margin-right: 0px !important; */
  }

  .add-gap {
    gap: 0.2rem;
    padding-top: 0.2rem;
  }

}



@media all and (min-width:501px) and (max-width:899px) {

  .wave_logo {
    left: 20rem;
    width: 9rem;
    top: 1.5rem;
  }

}


.accordion-item {
  transition: all 10s;
}

.slide01 {
  font-size: 2rem;
}




@media all and (min-width:450px) and (max-width:500px) {
  .aside-width {
    width: 26rem !important;
  }

}

@media all and (min-width:400px) and (max-width:450px) {
  .aside-width {
    width: 23rem !important;
  }

}


@media all and (max-width:400px) {
  .aside-width {
    width: 19rem !important;
  }

}

@media all and (max-width:1018px) {
  .set-height {
    min-height: 320vh !important;
  }
}


.set-height {
  /* min-height: 200vh; */
}



@media all and (min-width:1550px) {
  .large-screens {
    display: flex !important;
    justify-content: start;
    width: 100%;
    padding-top: 0px;
    border-left: none !important;
  }

  #digital-platform-menu {
    display: flex !important;
    gap: 0px
  }

  #digital-platform-menu div img {
    width: 35rem;
  }

  .constructs {
    min-width: 14rem;
  }

  .constructs ul {
    border-right: 1px solid #E4A8A8;
  }


  .addMargin {
    width: 35rem;
    margin-left: 3rem !important;
    margin-top: 3rem !important;
  }

  .change-container {
    min-width: 1549px !important;
    padding-right: 2rem;
  }

  #digital-platform-menu aside {
    margin-top: 3rem;
    width: 22rem
  }


  .swiper-slide {
    min-width: 10vw !important;
  }
}



/* #select-accordian {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

#select-accordian option{
  width: 10px;
} */

.rotate-icon {
  transform: rotate(180deg);
}

.display-icon {
  display: none !important;
}






.aside-link {
  /* max-width: 296px; */
  position: absolute;
  /* top: 105px;
    /* right: 90px;  */
  top: 3rem;
  right: -22rem;
  z-index: 1000;
}


.login-links {
  /* width: 100%; */
  display: flex;
  justify-content: space-between;
  /* padding: 0 1rem; */
  padding-right: 1.5rem;
  border-bottom: 1px solid #C8C8C8;


}



.hide_popup {
  display: none;
}

.login-links a li {
  border-bottom: none;
  font-family: 'DM Sans';
  font-style: normal;
  font-size: 1.25rem !important;
  font-weight: 400;

}

/* 
.change-color{
  fill: red;
  stroke: blueviolet;
} */


.login_class {
  display: flex;
  /* justify-content: start; */
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

/* 
.login-links a li:hover{
  color: #796EF5;
} */


.login-links a {
  width: 100% !important;
}

#login_select_toggle {
  transition: all 0.5s;
}


.login-links:last-child {
  border-bottom: none;
}


.small-size {
  position: absolute !important;
  top: -9rem !important;
  right: 0px !important;
  z-index: 1000;
  width: 100%;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-radius: 0px;
}


.small-size ul {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.small-size .login-links {
  border: none;
  margin-left: 3rem;
  margin-right: 3rem;
  padding-right: 0px;
}

.small-size .login-links:first-child {
  border-bottom: 1px solid #CFCFCF;
  ;
}

.small-size .login-links a li {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.small-size .login-links:last-child {
  padding-bottom: 3rem;
}


.login_text {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;

  color: #000000;
  padding-left: 0px;
  padding-right: 0px;
  border-bottom: none;
}


.login_text {
  padding-left: 0px !important;
  padding-right: 0px;
  margin-left: 0px !important;
  text-align: left;
}

a.swiper-slide > article > div > div > p:nth-child(1){
  -webkit-box-orient: vertical;
  display: block;
  display: -webkit-box;
  overflow: hidden !important;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4;
}

.login{
  width: 150px;
}
#seealso:hover{
  cursor: pointer;
  background-color: #c0c0c0ca;
}



@media all and (max-width:400px) {
  .small-size .login-links {
    /* border: none; */
    margin-left: 1rem;
    margin-right: 1rem;
  }

  #perks1{
    height: 300px !important;
  }

  #perkimg >div> img {
    height: 350px !important;
    margin: auto;
  }
}

@media all and (max-width:1023px) {
  .small-view-padding {
    /* border: none; */
    padding-left: 0px !important;
    padding-right: 0px !important;
  }

  .small-view-padding li {
    margin-left: 24px;
    margin-right: 24px;
  }
}


@media all and (max-width:1250px) {
  .aside-link {
    /* max-width: 296px; */
    /* position: absolute; */
    /* top: 105px;
      /* right: 90px;  */
    top: 3rem;
    right: -24rem;
    /* z-index: 1000; */
  }
}


.background-fade {
  background: linear-gradient(108.56deg, #979090 0%, #d5d4d4 100%) !important;
  filter: blur(1px);
  pointer-events: none;

}

.background-fade-header {
  background: linear-gradient(108.56deg, #979090 0%, #d5d4d4 100%) !important;
  /* filter: blur(1px); */
  pointer-events: none;

}

/* .remove-pointer-event {
  pointer-events:none;
} */






#login_popup {
  pointer-events: all !important;
}

#banner-section-contact {
  display: flex;
  flex-direction: row;
  height: auto;
}

#custom-logos img {
  aspect-ratio: 4/2;
  /* height: 100px !important; */
  width: 130px !important;
}




@media all and (min-width:1200px) { 
   #enter2 > article {
    grid-template-columns: 40% 1fr !important;
   }

   #enter2 > article > div:last-child { 
       padding-left: 2rem !important;
       padding-right: 4rem !important;

   }

  
}

#enter2 > article > div > img {
  width: 100% !important;
  height: 100% !important;
}

#enter2 > article > div:first-child{
  height: 100% !important;
}

#enter2{
  margin-bottom: 0px !important;
}

#app-powered{
  margin-top: 2.5rem !important;
  margin-bottom: 2.5rem !important;
  padding-top: 2.5rem !important;
  padding-bottom: 2.5rem !important;
}


@media all and (max-width:500px) {
   
#app-powered{
  margin: 0px !important;
}

/* #expert{
  margin: 0px !important;
} */

#cap2 > div:first-child{
  padding:0px 0px 0px 0.6rem !important;
}
  
}

/* #cap2{
  padding-top: 0px !important;
  padding-bottom: 0px !important;
} */


figcaption > h3{
  font-weight: 500 !important;
  font-size: 1.2rem !important;
}

figcaption > p{
  /* font-weight: 500 !important; */
  font-size: 1.1rem !important;
  color: #545454 !important;
}

